#background {
    background-image: url("../imgs/background-image.png");
    height: 750px;
    width: 700px;
    border: 5px solid black;
}

#hero {
    background-image: url("../imgs/hero-image.png");
    height: 60px;
    width: 50px;
    position: absolute;
    top: 690px;
    left: 350px;
}

#missles {
    height: 750px;
    width: 700px;
    position: absolute;
}

.enemy {
    background-image: url("../imgs/enemy-image.png");
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 550px;
}

.missile {
    background-image: url("../imgs/missile-image.png");
    height: 50px;
    width: 50px;
    position: absolute;
}

#enemies {
    height: 700px;
    width: 750px;
    position: absolute;
}